@model DCSONDAGE_V1.Models.Lien
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lien</title>
</head>
<body>
    <div> 
        <a href="@Model.adresseLien1"><h3>adresse de vote : @Model.adresseLien1</h3></a> 
        <a href="@Model.adresseLien2"><h3>adresse de Resultat : @Model.adresseLien2 </h3></a>
        <a href="@Model.adresseLien3"><h3>adresse de Supression : @Model.adresseLien3 </h3></a>
    </div>
</body>
</html>
